[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
channels = "*"
django = "*"
django-filter = "*"
django-guardian = "*"
djangorestframework = "*"
markdown = "*"
pygments = "*"
pyyaml = "*"
uritemplate = "*"

[dev-packages]
bandit = "*"
black = "*"
django-stubs = "*"
django-stubs-ext = "*"
djangorestframework-stubs = "*"
ipython = "*"
isort = "*"
mypy = "*"
pylint = "*"
pylint-django = "*"
pytest = "*"
pytest-cov = "*"
pytest-django = "*"
pytest-xdist = "*"
radon = "*"
tox = "*"

[requires]
python_version = "3.10"
